<header class="flex flex-col items-center">
        <h1 class="text-2xl font-bold text-green-800 dark:text-green-200">TIENDA VIRTUAL</h1>
        <p class="text-xl font-normal text-green-700 dark:text-green-300">Bienvenidos!!!</p>
</header>
<main>
    <section>
        <form id="search"
            class="w-full max-w-xs bg-white dark:bg-green-800 shadow-md dark:shadow-green-500 rounded px-8 pt-6 pb-8 mb-4"
            action="">
            <p class="text-green-700 dark:text-green-200">Buscar:</p>
            <label class="block text-green-800 dark:text-green-100 text-sm font-bold mb-2" for="search_name">Por nombre:</label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-4"
                id="search_name" type="text">
            <label for="search_order"></label>
            <select id="search_order"
                class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline mb-4"
                name="price">
                <option value="nada">-</option>
                <option value="mayorPrecio">Mayor precio</option>
                <option value="menorPrecio">Menor precio</option>
            </select>
            <button id="search_submit"
                class="bg-green-700 dark:bg-green-300 hover:bg-green-400 text-white dark:text-green-500 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Buscar</button>
        </form>
    </section>
    <section>
        <div class="w-full max-w-xs sm:max-w-xl lg:max-w-5xl xl:max-w-7xl bg-white dark:bg-green-800 shadow-md dark:shadow-green-500  rounded px-2 mb-4">
            <div class="mx-auto max-w-2xl px-4 py-4 sm:px-6 sm:pt-2 lg:max-w-7xl lg:px-8">
                <h2 class="text-2xl text-green-800 dark:text-green-200 font-bold tracking-tight ">Listado de productos</h2>
                <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
                    {{#each data}}
                    <div class="group relative">
                        <div class="py-2 dark:bg-green-700 shadow-md dark:shadow-green-500 rounded px-2">
                            <div
                                class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                                <img src="{{this.urlImagen}}" alt="Front of men&#039;s Basic Tee in black."
                                    class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                            </div>
                            <div class="mt-2 mb-4 flex justify-between py-1">
                                <div>
                                    <h3 class="text-sm text-green-800 dark:text-green-100">
                                        <a href="#">
                                            <span aria-hidden="true" class="absolute inset-0"></span>
                                            {{this.nombre}}
                                        </a>
                                    </h3>
                                    <p class="mt-1 text-sm text-green-700 dark:text-green-100">{{this.descripcion}}</p>
                                </div>
                                <p class="text-sm font-bold text-green-800 dark:text-green-300">${{this.precio}}</p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
</main>